$black-squeeze: #EEF4F9;
$st-tropaz: #2D4C8F;
$boulder: #7C7C7C;
$topaz: #7C7490;
$bg-col: #fafafa;
$brd-col: #dae2ea;
$h2-col: #273042;
$white: #ffffff;
$blue1: #e0f7fd;
$blue2: #166dab;
$blue3: #0448fd;
$purple: #a0b2ec;
$gray: #a1a0a8;
$grey: #a1a0a8;
$green: #c7ffe2;
$green-2: #0ABF66;